In [1]:
import pandas as pd

In [2]:
# Load the CSV file
df = pd.read_csv("sample_datasets/prescriptions_with_categories.csv")

# Update the category for Aspirin
df.loc[df["medication_name"] == "Aspirin", "medication_category"] = "Common"

df.head(10)

,prescription_id,patient_id,medication_name,prescription_date,medication_category
0,1,15,Ibuprofen,2023-04-07,Pain Relief
1,2,8,Metformin,2023-01-24,Diabetes
2,3,37,Lisinopril,2023-03-03,Heart
3,4,23,Atorvastatin,2023-01-14,Heart
4,5,24,Atorvastatin,2023-03-29,Heart
5,6,21,Metformin,2023-03-08,Diabetes
6,7,49,Amoxicillin,2023-03-04,Antibiotic
7,8,36,Aspirin,2023-04-07,Common
8,9,10,Lisinopril,2023-01-29,Heart
9,10,33,Metformin,2023-03-18,Diabetes

In [3]:
s = df["medication_category"].drop_duplicates()

df_categories = pd.DataFrame({
    'id_category': range(1, len(s)+1),
    'category_name': s.values
})

df_categories

   id_category category_name
0            1   Pain Relief
1            2      Diabetes
2            3         Heart
3            4    Antibiotic
4            5        Common

In [4]:
df = df.merge(df_categories, left_on="medication_category", right_on="category_name", how="inner").drop(columns=["medication_category", "category_name"])

In [5]:
df_categories.to_csv("sample_datasets/categories.csv", index=False)
df.to_csv("sample_datasets/prescriptions2.csv", index=False)